*__pycache__
*__pycache/*
*.py[oc]
*build/
*dist/
*wheels/
*.egg-info

*.venv
*.idea/

*.env

# Allow .streamlit/config.toml but ignore secrets
.streamlit/*
!.streamlit/config.toml

*.DS_Store
LOBSTER_SampleFile_*/
